:root {
  --font-container: "Roboto", sans-serif;
  --text-color: rgb(243, 243, 243);
  --bg-container: rgb(207, 216, 220);
  --bg-display: rgb(233, 233, 233);

  --bg-operand: rgb(144, 164, 174);
  --bg-operand-hover: rgb(120, 144, 156);

  --bg-operator: rgb(84, 110, 122);
  --bg-operator-hover: rgb(69, 90, 100);

  --bg-equals: rgb(76, 175, 80);
  --bg-equals-hover: rgb(52, 153, 56);

  --bg-clear: rgb(244, 67, 54);
  --bg-clear-hover: rgb(229, 57, 53);

  --bg-memory: rgb(94, 168, 211);
  --bg-memory-hover: rgb(83, 149, 187);

  --pseudo-gap: 0.3rem;
}

.container {
  width: 90vw;
  max-width: 720px;
  margin: auto;
  margin-top: 1em;
  background: var(--bg-container);
  padding: 1rem;
  font-family: var(--font-container);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: calc(100% - 2 * var(--pseudo-gap));
  background-color: var(--bg-display);
  height: 60px;
  font-size: 35px;
  border: none;
  border-radius: 5px;
  outline: none !important;
  padding: 0.5em;
  display: flex;
  margin-bottom: var(--pseudo-gap);
  text-align: right;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 calc(100% / 4 - (2 * var(--pseudo-gap)) );
  padding: .5rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  font-weight: bold;
  margin: var(--pseudo-gap);
  border: none;
  border-radius: 5px;
  outline: none !important;
  transition: all 0.1s;
}

.btn-memory {
  flex: 1 calc(100% / 6 - (2 * var(--pseudo-gap)) );
  background-color: var(--bg-memory);
}

.btn-memory:hover {
  background-color: var(--bg-memory-hover);
}

.btn-operand {
  background-color: var(--bg-operand);
}

.btn-operand:hover {
  background-color: var(--bg-operand-hover);
}

.btn-operator, .btn-erase {
  background-color: var(--bg-operator);
  color: var(--text-color);
}

.btn-operator:hover, .btn-erase:hover {
  background-color: var(--bg-operator-hover);
}

.btn-equals {
  background-color: var(--bg-equals);
  color: var(--text-color);
}

.btn-equals:hover {
  background-color: var(--bg-equals-hover);
  color: var(--text-color);
}

.btn-clear {
  background-color: var(--bg-clear);
  color: var(--text-color);
}

.btn-clear:hover {
  background-color: var(--bg-clear-hover);
}